.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}

.w75{
    width:75px;
}
.w160 {
    width: 160px;
}

.avatar {
    border-radius: 100%;
    width: 50px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fix;
    left: 0px;
    height: 0px;
    position: fixed;
    top: 0px;
    width: 0px;
    z-index: 1000;
}

.border {
    border: 3px solid #8dceee;
    border-radius: 25px;
}

.margin-right {
    margin-right: 10px;
}