<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Estado actual Medscan</h4>
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">2,064</h1>
                                    <h6 class="text-white">Total Tickets</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-primary text-center">
                                    <h1 class="font-light text-white">1,738</h1>
                                    <h6 class="text-white">Responded</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-success text-center">
                                    <h1 class="font-light text-white">1100</h1>
                                    <h6 class="text-white">Resolve</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card">
                                <div class="box bg-dark text-center">
                                    <h1 class="font-light text-white">964</h1>
                                    <h6 class="text-white">Pending</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="container-fluid">
                            <!-- ============================================================== -->
                            <!-- Start Page Content -->
                            <!-- ============================================================== -->
                            <!-- .row -->
                            <div class="row">
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/2.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/3.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/4.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/5.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/6.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/7.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/8.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/2.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/3.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- .col -->
                                <div class="col-md-6 col-lg-6 col-xlg-4">
                                    <div class="card card-body">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-3 text-center">
                                                <a href="app-contact-detail.html"><img src="../assets/images/users/4.jpg" alt="user" class="img-circle img-responsive"></a>
                                            </div>
                                            <div class="col-md-8 col-lg-9">
                                                <h3 class="box-title m-b-0">Johnathan Doe</h3> <small>Web Designer</small>
                                                <address>
                                                        795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                                                        <br>
                                                        <br>
                                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                                    </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <!-- ============================================================== -->
                            <!-- End PAge Content -->
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- Right sidebar -->
                            <!-- ============================================================== -->
                            <!-- .right-sidebar -->
                            <div class="right-sidebar ps ps--theme_default" data-ps-id="2d505932-0627-662f-7b3d-c15c684e24ec">
                                <div class="slimscrollright">
                                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                                    <div class="r-panel-body">
                                        <ul id="themecolors" class="m-t-20">
                                            <li><b>With Light sidebar</b></li>
                                            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme working">7</a></li>
                                            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                                        </ul>
                                        <ul class="m-t-20 chatonline">
                                            <li><b>Chat option</b></li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                                    <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- End Right sidebar -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>